__pycache__
migrations
.git
.svn
.vscode
.idea
download
logs
result
result_bak
.gitignore.swp
package-lock.json
test.py
test1.py
uwsgi.log
uwsgi.pid
static/download
static/upload
static/excel_report
staticfiles
settings.py
uwsgi.ini
nohup.out
.DS_Store

